* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Container {
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.card {
 width:40%;
  padding: 12px;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.Name {

  font-size: 20px;
  font-weight: bold;
}
.Email {
  font-size: 1rem;
  color: #888;
  margin-bottom: 15px;
}
.Address {
  font-size: 0.85rem;
  color: #777;
  margin-top: 5px;
}
